footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#chat-box {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-msg {
    margin-top: 10px;
}